@import "./_utilities.scss";
@import "./variables";
 

.info {
  background-color: $light-color;
  font-weight: 600;
  padding: 5px;
  border-radius: 15px;
  max-width: 100%;
}


.button {
  border-radius: 10px;
  font-weight: 600;
  margin: 1em auto;
  line-height: unset;
  max-width: 100%;
  font-size: initial;
  
  color: $light-color;
  cursor: pointer;
  border: 4px solid $light-color;
  background-color: $dark-color;

  &--back {
    width: 4vw;
    padding: 1em 1em;
    margin: 1em 0 0 -2em;
  }
  a:hover{
    color:unset;
  }
}