/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;600&display=swap");
$title-font: "Pacifico", sans-serif;
$content-font: "Prompt", sans-serif;

/*Color Palette*/
$base-color: #52de97;
$second-color: #3c9d9b;
$third-color: #ffd369;
$fourth-color: #e43f5a;
$dark-color: #5b5656;
$light-color: #c0ffb3;
$black: #4d4646;
$white: #f7f7f7;